{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/about-history.css">
{% endblock head %}
{% block body %}
    <section>
        <div style="display: flex;justify-content: left;margin: 0;padding: 0;"><h1 style="color:white; padding-left: 0px!important;padding: 0;margin: 0;" class="animate-charcter">HISTORY OF MOUNT OLIVE ASHRAM</h1></div>
        <article class="history1">
            <div class="historycontent1 contenthistory1">
                <h1 style="font-size: 3.5vh;">The Birth of Missionaries of Scared Mystery </h1>
                <p>During the day-to-day celebration of Holy Qurbono in the period of the Covid pandemic (2020), particularly on the Feast Day of our Lord's Ascension, a celibate Priest has got a vision to start an indigenous Ashram to create the Eucharistic-centered re-awakening in the life of the faithful of the Malankara Orthodox Syrian Church. God has been molding and preparing our founder Rev. Fr. C. M. Philipose, Pakalomattom Chirathalackal, the then member of Christa Sishya Ashram, Thadagam, Coimbatore, Tamil Nādu to take up this new Charism in the Malankara Church.</p>
                <p>We praise God for giving such inspiration to begin an Ashram in this 21<sup>st</sup> century, having a new missionary awakening and passion in the Malankara Orthodox Syrian Church.</p>
            </div>
            <div class="historycontent1 imghistory1">
                <img src="/static/images/paten-chalice.jpeg" alt="Paten And Chalice">
            </div>
        </article>
        <article></article>
    </section>
{% endblock body %}