{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/about-charism.css">
{% endblock head %}
{% block body %}
    <section class="charismcontent">
        <h1 style="text-align: center; margin-bottom: 0;padding-bottom: 0;font-size: 35px;color: gold;" class="typewriter">CHARISM</h1>
        <div style="width: 80px;height:5px;background-color:rgb(234, 96, 32);border-radius:5px;margin: auto;margin-bottom: 10px;"></div>
        <article class="charismcontent">
            <div class="charismimg"><img src="/static/images/last-superr.png" alt="Last Superr" srcset=""></div>
            <div class="charismcontain" >
                
                <p>
                    God has given each religious order a way of life, which is illustrated in its founder and specified in its documents and tradition. This way of life is called the religious order's "charism." The ultimate point of a charism is to unite each member of the religious order to Christ, by making him more Christ-like. The Olivians life is a life centered on Holy Qurbono, which means that it is a life marked by the search for God.
                </p>
                <p>
                    The Charism of Mount Olive Ashram is a gift of God given to Mor Alvares Yulius Metropolitan, the Beacon of our Ashram and our Founder to meet a particular need in the Holy Malankara Orthodox Syrian Church and the Society. It is to follow our Lord and Saviour Jesus Christ as a Missionary of Sacred Mystery, placing the Holy Qurbono at the core of our being, discerned in Oriental Monastic tradition and Indian Monasticism to evangelize our nation by the teachings of Christ Jesus and to express the compassionate love of our Lord to humanity enshrined in the Holy Qurbono through the spiritual renewal of the Holy Malankara Orthodox Syrian Church.  
                </p>
                <p>
                    The Charism of our Olivians is a religious life marked by unconditional love and strong devotion to the Holy Qurbono and Missionary vitality. It is to live and proclaim the Holy Mystery we celebrate every day, to bring everyone to His Holy Church, to take part in the Holy Mystery with a pure heart and pure body.
                </p>
            </div>
        </article>
    </section>
{% endblock body %}