<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="mount olive Ashram">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/contact.css">
    <link rel="stylesheet" href="/static/css/menubar.css">
    <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
    <link rel="shortcut icon" href="/static/images/l2.png" type="image/x-icon">
    <script src="/static/js/main.js" type="text/javascript"></script>
    <title>Mount Olive Ashram</title>
    {% block head %}{% endblock head %}
</head>

<body>
    <header>
        <div class="container1">
            <img src="/static/images/l2.png" alt="logo">
        </div>
        <div class="container2">
            <span class="head">MOUNT OLIVE ASHRAM</span><br />
            <span class="subhead"><b>Missionaries of Sacred Mystery</b></span>
        </div>
        <input type="checkbox" class="checkinput" id="checkinput" />
        <label for="checkinput" class="menubar" onclick="myLabel()">
            <div class="menu-cantainer" onclick="myFunction(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </label>
    </header>
    <div class="navbar" id="navbar">
        <nav>
            <ul class="main">
                <div class="list">
                    <li class="main"><a href="/index" class="main">Home</a></li>
                    <div style=" display:inline-block" class="aboutmaindiv" id="aboutmaindiv"
                        onmouseover="myAboutIn(this)" onmouseout="myAboutOut(this)">
                        <li class="main"><a href="" class="main about">About</a>
                            <div style="display:none;" class="aboutsubdiv" id="aboutsubdiv">
                                <ul class="subabout" id="subabout">
                                    <li><a href="/about-history" class="aboutlist">History</a></li>
                                    <li><a href="/about-charism" class="aboutlist">Charism</a></li>
                                    <li><a href="/about-founder" class="aboutlist">Founder</a></li>
                                    <li><a href="/about-members" class="aboutlist">Members</a></li>
                                </ul>
                            </div>
                        </li>
                    </div>
                    <li class="main"><a href="/mission" class="main">Mission</a></li>
                    <li class="main"><a href="/news" class="main">News</a></li>
                    <li class="main"><a href="/services" class="main">Services</a></li>
                    <li class="contact main"><a href="/contact" class="main">Contact</a></li>
                </div>
            </ul>
        </nav>
    </div>
    <script>
        function myFunction(x) {
            x.classList.toggle("change");
        }
        if (document.getElementById("checkinput").checked) {
            alert("It is checked");
        }
    </script>
    <script>
        document.getElementById(
            "aboutmaindiv").addEventListener(
                "mouseover", over);

        document.getElementById(
            "aboutmaindiv").addEventListener(
                "mouseout", out);

        function over() {
            document.getElementById(
                "aboutsubdiv").style.display = "block";
        }

        function out() {
            document.getElementById(
                "aboutsubdiv").style.display = "none";
        }
    </script>
    {% block body%}{% endblock body %}
</body>

</html>