{% extends "base.html" %}
{% block body %}
    <article class="aboutus" id="aboutus">
        <div class="aboutus-title">
            About Us
        </div>
        <div class="aboutus-content">
            Mount Olive Ashram is a dream and vision given by our Lord and Saviour Jesus Christ to a humble Celibate Priest to start as an Indigenous Monastery in the Malankara Church to Evangelize our Nation through offering the Sacrament of Holy Qurbono everyday and bringing the faithful and gentiles as one Body of Christ, like Saint Mor Alvares Yulius Thirumeni of Blessed Memory, did in his life.
        </div>
    </article>
    <div class="content3" id="content3">
        <div class="img">
            <img src="/static/images/saint_joseph.png" alt="st_joseph image">
            <img src="/static/images/mor_alvares.png" alt="mor_alvares image">
        </div>
    </div>
{% endblock body %}