{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/mission.css">
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
{% endblock head %}
{%block body%}
<div class="mission">
    <div class="divmainmission">
        <section class="sectionmainmission missionsection">
            <h1 class="headingmission">
                MISSION
            </h1>
        </section>
        <section class="sectionmainmission2 missionsection">
            <article class="articlemission">
                <p class="maincontentmission">
                    The very name of our Ashram itself clearly states the mission of our Ashram Community. Missionaries of Sacred Mystery is a new missionary movement in the Malankara Orthodox Syrian Church inspired by the Holy Qurbono to experience the Eucharistic presence of Christ Jesus. Olivians strongly believe in their monastic life, that their source of blessings and inspiration for their spirituality is none other than the Holy Qurbono. We begin this missionary movement with the hope to evangelize our nation through the Holy sacraments and preaching the Word of God in our words and action. 
                </p>
            </article>
        </section>
        <section class="sectionmainmission3 missionsection">
            <article class="articlemission">
                <div class="head1mission content1mission">
                    <h1>Mount Olive Ashram</h1>
                </div> 
                <div class="flexcontent">
                    <div class="img1mission content1mission">
                        <img src="/static/images/mount.jpeg" alt="MOUNT OLIVE ASHRAM">
                    </div>
                    <div class="para1mission content1mission">
                        <p>
                            Mount Olive Ashram is a Monastic Community for those who wish to live as a celibate community who can renounce this world and its pleasure to experience the love of God through the Holy Qurbono of the Malankara Orthodox Syrian Church.
                        </p>
                    </div>
                </div>
            </article>
        </section>
        <section class="sectionmainmission4 missionsection">
            <article class="articlemission">
                <div class="head2mission content2mission">
                    <h1>St. Joseph's Ashram Chapel</h1>
                </div>
                <div class="flexcontent2">
                    <div class="img2mission content2mission">
                        <img src="/static/images/st_joseph.jpeg" alt="St. Joseph's Ashram Chapel">
                    </div>
                    <div class="para2mission content2mission">
                        <p>
                            Missionaries of Sacred Mystery is a Celibate Missionary Movement in the Malankara Orthodox Syrian Church. The source of their energy is the Holy Qurbono. Since the Patron Saint of this Ashram Community is St. Joseph the Righteous, The Chapel is known as St. Joseph's Chapel. We invite everyone to visit and pray in this Chapel.
                        </p>
                    </div>
                </div>
            </article>
        </section>
        <section class="sectionmainmission5 missionsection">
            <article class="articlemission">
                <div class="head3mission content3mission">
                    <h1>Santhwanam Dhyana Mandiram</h1>
                </div> 
                <div class="flexcontent">
                    <div class="img3mission content3mission">
                        <img src="/static/images/mother.jpeg" alt="Santhwanam Dhyana Mandiram">
                    </div>
                    <div class="para3mission content3mission">
                        <p>
                            Santhwanam Dhyana Mandiram is a Retreat Centre where the faithful can come and stay for a week or more to meditate on the Holy Sacraments to have a personal encounter with our Lord and Saviour Jesus Christ. 
                        </p>
                    </div>
                </div>
            </article>
        </section>
        <section class="sectionmainmission6 missionsection">
            <article class="articlemission">
                <div class="head4mission content4mission">
                    <h1>Alvares Mor Yulius Mission Movement</h1>
                </div>
                <div class="flexcontent2">
                    <div class="img4mission content4mission">
                        <img src="/static/images/mor_alvares.jpg" alt="Alvares Mor Yulius Mission Movement">
                    </div>
                    <div class="para4mission content4mission">
                        <p>
                            Alvares Mor Yulius Mission Movement aims to send monks of our Ashram to various parts of our country to preach the word of God and to prepare the world to experience the Kingdom of God.
                        </p>
                    </div>
                </div>
            </article>
        </section>
        <section class="sectionmainmission7 missionsection">
            <article class="articlemission">
                <div class="head5mission content5mission">
                    <h1>Mor Theophilos Palliative Care centre</h1>
                </div> 
                <div class="flexcontent">
                    <div class="img5mission content5mission">
                        <img src="/static/images/mor_theophilos.jpeg" alt="Mor Theophilos Palliative Care centre">
                    </div>
                    <div class="para5mission content5mission">
                        <p>
                            The palliative care Centre will be in the name of the late Zachariah Mor Theophilos Thirumeni of Blessed Memory, the Former Visitor Bishop of Thadagam Christa Sishya Ashram. It was His Grace's long-cherished wish to take care of the bedridden patients. Ashram aims to help bedridden patients to feel comfortable and blessed before they leave this life.
                        </p>
                    </div>
                </div>
            </article>
        </section>
        <section class="sectionmainmission8 missionsection">
            <article class="articlemission">
                <div class="head6mission content6mission">
                    <h1>Mor Philoxenos Old Age Home</h1>
                </div>
                <div class="flexcontent2">
                    <div class="img6mission content6mission">
                        <img src="/static/images/mor_philoxenos.jpeg" alt="Mor Philoxenos Old Age Home">
                    </div>
                    <div class="para6mission content6mission">
                        <p>
                            Ashram aims to start an Old Age Home to take care the abandoned and lonely old people, especially from our Christian community who wish to have the Holy Sacraments regularly in their old age. We, the Olivians owe to the elderly to give them a peaceful and graceful old age. The Old age home is in the memory of Late Job Mor Philoxenos Metropolitan.
                        </p>
                    </div>
                </div>
            </article>
        </section>
        <section class="sectionmainmission9 missionsection">
            <article class="articlemission">
                <div class="head7mission content7mission">
                    <h1>Mor Baselios Study Centre</h1>
                </div> 
                <div class="flexcontent">
                    <div class="img7mission content7mission">
                        <img src="/static/images/mor_baselios.jpeg" alt="Mor Baselios Study Centre">
                    </div>
                    <div class="para7mission content7mission">
                        <p>
                            Ashram aims to have a study centre where the young and old can come together to study Holy Bible and Holy Sacraments along with our Syriac language.
                        </p>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>
{%endblock body%}